.caret {
  border-right: 4px solid;
  animation: blink .5s infinite step-end alternate;
}

@keyframes blink {
  50% { 
    border-color: transparent;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes border-glow {
  0% {
    border-color: $primary;
  }
  50% {
    border-color: $primary-200;
  }
  100% {
    border-color: $primary;
  }
}