// Override variables from Bootstrap

$primary: #23c0e1;
$light: #f5f5f5;
$dark: #212121;
$font-family-base: "Catamaran", "Open Sans", sans-serif, Arial;

// Import customizable Bootstrap

@import "./node_modules/bootstrap/scss/bootstrap";

// Customization scss code

@import "mixins.scss";
@import "colors.scss";
@import "buttons.scss";
@import "scrollbar.scss";
@import "animations.scss";
@import "miscellaneous.scss";