.btn, .btn-lg {
  border: 2px solid transparent;
}

.btn:focus,
.btn:active,
.btn:active:focus {
  box-shadow: none;
}

.btn-custom {
  border: 2px solid $primary;
  color: $primary;
  z-index: 1;
  position: relative;
}

.btn-custom:hover {
  animation: border-glow 2s ease-in-out infinite;
  color: $primary-300;
  border: 2px double $primary-300;
}

.btn-custom:hover::before {
  width: 100%;
}